<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <%- include('_layouts/head') %>
    <title>Edit City | <%= title %></title>
</head>
<!-- END: Head-->

<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns" data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">
    <%- include('_layouts/sidenavbar') %>

    <!-- BEGIN: Page Main-->
    <div id="main">
        <div class="row">
            <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h5 class="breadcrumbs-title mt-0 mb-0"><span>Edit City</span></h5>
                        </div>
                        <div class="col s12 m6 l6 right-align-md">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="/">Home</a></li>
                                <li class="breadcrumb-item"><a href="/city">City</a></li>
                                <li class="breadcrumb-item active">Edit City</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="">
                <div class="container">
                    <div class="section">
                        <div class="row">
                            <div class="col s12">
                                <%- messages('messages', locals) %>
                            </div>
                        </div>
                        <form method="POST" onsubmit="validate()" action="/city/edit/<%= city.id %>" id="form">
                            <div class="col s12">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="row">
                                            <div class="input-field col m6 s12">
                                                <input placeholder="Name (English)" id="nameEn" name="nameEn" type="text" value="<%= city.en?.name %>">
                                                <label for="nameEn">Name</label>
                                                <small>
                                                    <div id="error1" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="input-field col m6 s12">
                                                <input placeholder="Name (Arabic)" id="nameAr" name="nameAr" type="text" value="<%= city.ar?.name %>">
                                                <label for="nameAr">Name</label>
                                                <small>
                                                    <div id="error2" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="input-field col m6 s12">
                                                <select id="country" name="country">
                                                    <option value="">Select country</option>
                                                    <% for( let i = 0; i < countries.length; i++ ) { %>
                                                    <option value="<%= countries[i]._id %>" <%= city.country == countries[i].id ? 'selected' : '' %>><%= countries[i].en.name %></option>
                                                    <% } %>
                                                </select>
                                                <label>Select country</label>
                                                <small>
                                                    <div id="error3" class="error"></div>
                                                </small>
                                            </div>
                                            <div class="col s12">
                                                <button type="submit" class="btn purple" id="submitBtn">Submit</button>
                                                <a onclick="history.back()" class="btn btn-danger ml-1">Cancel</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </div>
    <!-- END: Page Main-->

    <script>
        const formC = document.getElementById('form');

        formC.addEventListener('submit', (e) => {
            e.preventDefault();
        })

        function validate() {
            let returnVal = true;

            const nameEnValue = document.getElementById('nameEn').value.trim();
            const nameArValue = document.getElementById('nameAr').value.trim();
            const countryValue = document.getElementById('country').value;

            if (nameEnValue == '') {
                document.getElementById('error1').innerText = 'Please enter city name.';
                returnVal = false;
            } else {
                document.getElementById('error1').innerText = '';
            }

            if (nameArValue == '') {
                document.getElementById('error2').innerText = 'Please enter city name.';
                returnVal = false;
            } else {
                document.getElementById('error2').innerText = '';
            }

            if (countryValue == '') {
                document.getElementById('error3').innerText = 'Please select country.';
                returnVal = false;
            } else {
                document.getElementById('error3').innerText = '';
            }

            if (returnVal) {
                document.getElementById('submitBtn').disabled = true;
                formC.submit();
            }
        }
    </script>
    <%- include('_layouts/commonJs') %>
</body>

</html>