<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    <%- include('_layouts/head') %>
    <title>User View | <%= title %></title>
    <link rel="stylesheet" type="text/css" href="/app-assets/css/pages/page-users.css">
</head>
<body class="vertical-layout page-header-light vertical-menu-collapsible vertical-dark-menu preload-transitions 2-columns"
      data-open="click" data-menu="vertical-dark-menu" data-col="2-columns">

    <%- include('_layouts/sidenavbar') %>

    <div id="main">
        <div class="row">
            <div id="breadcrumbs-wrapper" data-image="/app-assets/images/gallery/breadcrumb-bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col s12 m6 l6">
                            <h5 class="breadcrumbs-title mt-0 mb-0"><span>User View</span></h5>
                        </div>
                        <div class="col s12 m6 l6 right-align-md">
                            <ol class="breadcrumbs mb-0">
                                <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                <li class="breadcrumb-item"><a href="/admin/user">User</a></li>
                                <li class="breadcrumb-item active">User Details</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12">
                <div class="container">
                    <div class="section users-view">
                        <!-- Media -->
                        <div class="card-panel">
                            <div class="row">
                                <div class="col s12 m7">
                                    <div class="display-flex media">
                                        <img src="<%= user.profile %>" alt="user avatar"
                                             class="z-depth-2 circle mr-3" height="64" width="64"
                                             onerror="this.onerror=null; this.src='/uploads/default_user.jpg';">
                                        <div class="media-body">
                                            <h6 class="media-heading">
                                                <span class="users-view-name"><%= user.name %></span>
                                            </h6>
                                            <span>Mobile:</span>
                                            <span class="users-view-id"><%= user.country_code %> <%= user.phone %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Details Table -->
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="col s12">
                                        <table class="striped">
                                            <tbody>
                                                <tr>
                                                    <th style="width: 200px;">Name</th>
                                                    <td><%= user.name %></td>
                                                </tr>
                                                <tr>
                                                    <th>Mobile</th>
                                                    <td><%= user.country_code %> <%= user.phone %></td>
                                                </tr>
                                                <tr>
                                                    <th>Email</th>
                                                    <td><%= user.email %></td>
                                                </tr>
                                                <% if (user.city) { %>
                                                <tr>
                                                    <th>City</th>
                                                    <td><%= user.city.en.name %></td>
                                                </tr>
                                                <% } %>
                                                <% if (user.country) { %>
                                                <tr>
                                                    <th>Country</th>
                                                    <td><%= user.country.en.name %></td>
                                                </tr>
                                                <% } %>
                                                <tr>
                                                    <th>Status</th>
                                                    <td>
                                                        <span class="chip <%= user.blocked ? 'red' : 'green' %> white-text">
                                                            <%= user.blocked ? 'Blocked' : 'Active' %>
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Date</th>
                                                    <td><%= user.date.toLocaleDateString('en-GB') %></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                                <!-- Action Buttons -->
                                <div class="row">
                                    <div class="col s12" style="margin-left: 15px;">
                                        <a onclick="history.back()" class="btn btn-danger waves-effect waves-light">Back</a>
                                        <!-- <a href="/admin/user/edit/<%= user._id %>" class="btn btn-primary waves-effect waves-light">
                                            <i class="material-icons left">edit</i> Edit
                                        </a>
                                        <form action="/admin/user/delete/<%= user._id %>?_method=DELETE" method="POST" style="display:inline;">
                                            <button type="submit" class="btn btn-danger waves-effect waves-light"
                                                    onclick="return confirm('Delete <%= user.name %>?');">
                                                <i class="material-icons left">delete</i> Delete
                                            </button>
                                        </form> -->
                                        <!-- <% if (user.blocked) { %>
                                            <a href="/admin/user/unblock/<%= user._id %>" class="btn btn-success waves-effect waves-light">
                                                <i class="material-icons left">lock_open</i> Unblock
                                            </a>
                                        <% } else { %>
                                            <a href="/admin/user/block/<%= user._id %>" class="btn btn-warning waves-effect waves-light">
                                                <i class="material-icons left">lock</i> Block
                                            </a>
                                        <% } %> -->
                                    </div>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="content-overlay"></div>
            </div>
        </div>
    </div>

    <%- include('_layouts/commonJs') %>
</body>
</html>

